<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>779775153637-me7hiquuthnvfol1g3a4q6f871u2cgfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779775153637-me7hiquuthnvfol1g3a4q6f871u2cgfm</string>
	<key>API_KEY</key>
	<string>AIzaSyCaIxc80SuThYNtNiRXac01hrw4Qsd4WUE</string>
	<key>GCM_SENDER_ID</key>
	<string>779775153637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikhiliyer.CodeSeeker</string>
	<key>PROJECT_ID</key>
	<string>codeseeker-87e53</string>
	<key>STORAGE_BUCKET</key>
	<string>codeseeker-87e53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779775153637:ios:19c6054e4acd1f83</string>
	<key>DATABASE_URL</key>
	<string>https://codeseeker-87e53.firebaseio.com</string>
</dict>
</plist>